<header class="fw-config-heading"><h1>System</h1></header>
<div class="card fw-system-page" *ngIf="combinedData$ | async as data">
    <table class="fw-system-table" aria-label="Device system information">
        <tbody>
            <tr *ngFor="let row of getSystemRows(data)">
                <th scope="row" class="text-500 vertical-align-top" [ngClass]="row.class">{{row.label}}</th>
                <td class="vertical-align-top" [ngClass]="(row.class || '') + ' ' + (row.valueClass || '')" [attr.sensitive-data]="row.isSensitiveData ? '' : null" [pTooltip]="row.tooltip">{{row.value}}</td>
            </tr>
        </tbody>
    </table>
    <button pButton type="button" class="btn btn-primary mt-5" (click)="identifyDevice()">Identify device</button>
</div>
